            <div class="block">
                <img src="/media/templates/img/jur.png" width="218" height="153" />
                <h4>
				Фотогаллерея</h4>
                <div>
                    <a href="/Fotogalery/">Посмотреть фотографии</a>
                    <img src="/media/templates/img/0.png" width="100%" height="5" />
                    Здесь вы можете посмотреть фотографии нашей школы!
                </div>
            </div>
            <div class="block">
                <img src="/media/templates/img/book.png" width="218" height="153" />
                <h4>Электронный журнал</h4>
                <div>
                    <a href="#">Поздравляем с днём знаний и с первым днём осени!</a>
                    <img src="/media/templates/img/0.png" width="100%" height="5" />
                    Мы знаем все об окнах, и о том, как важно грамотно и качественно их монтировать, чтобы в Вашем доме царила атмосфера уюта и тепла. Осень замечательное время для установки новых окон,  а наши 											                    сезонные предложения  и скидки  сделают  Вашу покупку ещё привлекательней.
                </div>
            </div>
            <div class="block">
                <img src="/media/templates/img/docs.png" width="218" height="153" />
                <h4>Электронный журнал</h4>
                <div>
                    <a href="http://new.mcko.ru/" target="_blank">Перейти на сайт!</a>
                    <img src="/media/templates/img/0.png" width="100%" height="5" />
                    
                </div>
            </div>