 <div class="footer">
    	<div style="margin:20px auto; width:992px;">
        	<div  class="block_footer">
            	<h4>Полезные ссылки</h4>
                <!--<span>Мы знаем все об окнах, и о том, как важнограмотно и качественно их монтировать,чтобы в Вашем доме царила атмосфера уюта и тепла. Осень замечательное время </span>-->
                <div style="margin-top:19px;"></div>
                <a href="http://www.educom.ru/" target="_blank">Департамент образования города Москвы</a><br />
                <a href="http://mon.gov.ru/" target="_blank">Министерство образования и науки Российской Федерации</a><br />
                <a href="http://www.mos.ru/" target="_blank">Правительство Москвы</a><br />
                <a href="http://www.educom.ru/ru/districts/southwestern" target="_blank">Управление образования Юго-Западного округа</a><br />
                <a href="http://www.mosedu.ru/ior/01" target="_blank">Образовательные порталы</a><br />
                <a href="http://www.mosedu.ru/ior/02" target="_blank">Федеральные образовательные ресурсы</a><br />
                <a href="http://mskobr.ru" target="_blank">Сайты образовательных учреждений Москвы</a><br />
                <br /><!--<a href="3" style="color:#ff9900; font-weight:bold;">Все ссылки</a> -->
            </div>
            <div class="block_footer" style="width:244px; margin-right:140px;">
            	<h4>Наш адрес</h4>
                <span>
                	Район: Ясенево<br /><br />
					Адрес: Москва. 117463<br />
					улица Паустовского, д. 6. корп. 2
                </span>
				<span style="font-family:tahoma; font-size:13px; color:#ff9900; font-weight:bold; margin-top:30px; display:block;">Как нас найти</span>
                <span>От ст. метро «Ясенево» пешком 10-15 минут
                ГБОУ СОШ «Школа здоровья» № 1693. 
				</span>
				<div style="margin-top:20px;"></div>
				<a href="http://maps.yandex.ru/?um=WF2AD3YZh8c4t-wdFs4by7g8um9EG-vM&l=map" target="_blank">посмотреть на карте</a>
            </div>
            <div class="block_footer" style="width:218px; margin-right:0px;">
            	<h4>Гостевая книга</h4>
                <div style="margin-top:10px;"></div>
                <a href="/addcomment/dir/">Задать вопрос директору</a>
                <span style="margin-top:5px;">	
                </span>
                <div style="margin-top:10px;"></div>
                <a href="/addcomment/zav/">Задать вопрос завучу</a>
                <span style="margin-top:5px;">
                </span>
                <div style="margin-top:10px;"></div>
                <a href="/addcomment/all/">Задать орг. вопрос</a>
                <span style="margin-top:5px;">
                </span>
            </div>
        </div>
