<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>«Школа здоровья» №1693::{{Page.title}}</title>
<link type="text/css" href="/media/templates/style/style.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="jScrollPane.css">
<script type="text/javascript" src="/media/templates/highslide/highslide.js"></script>
<link rel="stylesheet" type="text/css" href="/media/templates/highslide/highslide.css" />
<script type="text/javascript" src="/media/templates/js/jquery.js" ></script>
<script type="text/javascript" src="/media/templates/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/media/templates/js/jScrollPane.js"></script>
<script type="text/javascript">
	jQuery(function()
	{
		jQuery('#pane').jScrollPane({scrollbarWidth:38, showArrows:false, dragMinHeight:68, dragMaxHeight:68, wheelSpeed:50, animateTo:true});
	});
</script>
<script type="text/javascript">
	hs.graphicsDir = '/media/templates/highslide/graphics/';
	hs.wrapperClassName = 'wide-border';
</script>
</head>

<body style="background-image:url('/media/templates/img/background.png'); background-repeat:repeat; margin:33px 0px 0px 0px; display:block; padding:0px;">
	<!-- head and menu -->
    <div class="wraper">
    	<div class="head_image"></div>
    	<div class="head_text">
        	<span style="font-family:Arial; font-size:18px; color:#999999; line-height:37px;">Государственное бюджетное образовательное учреждение города Москвы</span><br />
        	<span style="font-family:Arial; font-size:18px; color:#ffffff; font-weight:bold; line-height:22px;">средняя общеобразовательная школа «Школа здоровья» №1693</span><br />
        	<span style="font-family:Arial; font-size:18px; color:#ffffff; line-height:36px;">имени 1-й дивизии народного ополчения Москвы</span>
        </div>
        <div style="width:992px; height:21px; float:right; position:relative;"><img src="/media/templates/img/0.png" width="992" height="21" /></div>
        <form name="find">
        	<a class="find" href="#"></a>
          	<div class="find">
        		<input class="find"/>
        	</div>
        </form>
        <a href="mailto:school1693@mail.ru" class="icon_mail"></a>
        <a href="#" class="icon_zoom"></a>
        <a href="/" class="icon_home"></a>
        <ul class="menu">
        	{% for menupoint in MenuText %} <li><a href="/menu/{{menupoint.id}}" {% if menupoint.id == nowmenu.id %} style="text-decoration:underline;" {% endif %}>{{menupoint.text}}</a></li> {% endfor %}
        	<!--<li><a href="#">Фотоальбом</a></li>
            <li><a href="#">Наши выпускники</a></li>
            <li><a href="#">Общие сведения</a></li> -->
        </ul>
        <ul class="menu2">
        	<li>
            	{% for pagepoint in currentmenu %} <a {% if pagepoint.innerpage %} href="/pages/{{pagepoint.id}}" {% else %} href="{{pagepoint.text}}" target="_blank" {% endif %} {% if pagepoint.id == Page.id %} style="text-decoration:none;" {% endif %} >{{pagepoint.name}}</a> {% endfor %}
            	<!--<a href="#">Педагогический коллектив</a>
                <a href="#">Педагогический коллектив</a>
                <a href="#">Педагогический коллектив</a>
            	<a href="#">Административно-управленческий персонал</a> -->
            </li>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <!-- top banner -->
    <div class="content">
	{% if list %}
	{%for album in Albums %}
	<a href = "/Albums/{{album.id}}"> {{album.name}}</a><br>{{album.text}}<br><br>
	{%endfor%}
	{%else%}
	{%for photo in Fotos %}
	<center><a href="/media/{{photo.subj}}" class="highslide" onclick="return hs.expand(this)">
	<img src="/media/{{photo.subj}}" alt="Highslide JS"
		title="Click to enlarge" style="width:300px; height: auto;" /></a> <br><p style="color: #999999;">{{photo.text}}</p></a><br><br></center>
	{%endfor%}
	{%endif%}
    </div>
        <!--footer-->
    <div class="footer_top"></div>
    {% include "footer.html" %}
    <div class="footer_stripe"></div>
    </div>
</body>
</html>
