<form method="post" action="/edit_answer/{{comid}}/"> 

{% csrf_token %}

<input type="text" name="author" size="10" maxlength="30" value="{{ans.author}}">
<input type="text" name="name" size="10" maxlength="45" value="{{ans.name}}">
<textarea name="txt" cols="15" rows="10">{{ans.text}}</textarea>

<select name="visible" size = “1” >
	<option value="True">Видимо</option> 
	<option {% if not ans.visible %}selected{%endif%} value="False">Невидимо</option>
</select>

<input type="submit" name="btn" value="Save It">

</form>
